<?xml version="1.0" encoding="UTF-8"?>
<beans 
		xmlns="http://www.springframework.org/schema/beans"
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context.xsd" >

	<context:annotation-config />
	<context:component-scan base-package="ru.vyrostkoolga.j2eelec2" />

	<import resource="database.xml" />
	
	<bean id="good1" class="impls.Good">
		<constructor-arg name="ctg" value="1"/>
		<constructor-arg name="description" value=""/>
		<constructor-arg name="discount" value="0.0"/>
		<constructor-arg name="name" value="apple"/>
		<constructor-arg name="price" value="65.5"/>
		<constructor-arg name="quantity" value="10"/>
	</bean>
	
	<bean id="good2" class="impls.Good">
		<constructor-arg name="ctg" value="1"/>
		<constructor-arg name="description" value=""/>
		<constructor-arg name="discount" value="0.0"/>
		<constructor-arg name="name" value="orange"/>
		<constructor-arg name="price" value="77"/>
		<constructor-arg name="quantity" value="5"/>
	</bean>
	
	<bean id="ctg1" class="impls.Category">
		<constructor-arg name="name" value="fruits" />
		<constructor-arg name="goods">
			<list>
				<ref bean="good1"/>
				<ref bean="good2"/>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="WH1" class="impls.SimpleWarehouse">
		<constructor-arg name="name" value="130109" />
		<constructor-arg name="ctgs">
			<list>
				<ref bean="ctg1"/>
			</list>
		</constructor-arg>
	</bean>
	
	<bean id="maxNum" class="org.springframework.jndi.JndiObjectFactoryBean" >
		<property name="jndiName" value="cfg/MaxNumEl" />
		<property name="lookupOnStartup" value="true" />
	</bean>
	<bean id="freq" class="org.springframework.jndi.JndiObjectFactoryBean" >
		<property name="jndiName" value="cfg/Frequency" />
		<property name="lookupOnStartup" value="true" />
	</bean>
	<bean id="warName" class="org.springframework.jndi.JndiObjectFactoryBean" >
		<property name="jndiName" value="cfg/WName" />
		<property name="lookupOnStartup" value="true" />
	</bean>
	<bean id="catMax" class="org.springframework.jndi.JndiObjectFactoryBean" >
		<property name="jndiName" value="cfg/CtgMax" />
		<property name="lookupOnStartup" value="true" />
	</bean>
	
	<bean id="genericBean" class="ru.vyrostkoolga.j2eelec2.lec3.GenericBean" init-method="init" >
		<property name="frequency" ref="freq" />
		<property name="maxNumEl" ref="maxNum" />
		<property name="warName" ref="warName" />
		<property name="ctgMax" ref="catMax" />
	</bean>
	
	<bean id="customerService" class="ru.vyrostkoolga.j2eelec2.lec4.services.CustomerService" />
	<bean id="warehouseService" class="ru.vyrostkoolga.j2eelec2.lec4.services.WarehouseService"/>
	<bean id="productService" class="ru.vyrostkoolga.j2eelec2.lec4.services.ProductService"/>
	<bean id="categoryService" class="ru.vyrostkoolga.j2eelec2.lec4.services.CategoryService"/>
	<bean id="orderService" class="ru.vyrostkoolga.j2eelec2.lec4.services.OrderService"/>
		
	<bean id="genericBeanDataBase" class="ru.vyrostkoolga.j2eelec2.lec4.GenericBean" init-method="init">
		<property name="customerService" ref="customerService"/>
		<property name="warehouseService" ref="warehouseService"/>
		<property name="productService" ref="productService"/>
		<property name="categoryService" ref="categoryService" />
		<property name="orderService" ref="orderService"/>
	</bean>
	
</beans>
